  /* src/components/navbar.css */

  .navbar {
    position: fixed;
    top: 0;        /* Stick to the top of the screen */
    width: 250px;
    height: 100%;
    display: flex;
    background: #333;
    
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }

  .navbar-logo {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }

  .nav-item {
    width: 100%;
  }

  .nav-links {
    
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    display: block;
   
  }

  .nav-links:hover {
    background-color: #fff;
    color: #333;
    
  }

  .logout-button {
    background: none;
    border: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    position: absolute;
    bottom: 5%;

  }
  
  .logout-button:hover {
    background-color: #fff;
    color: #333;
  }
